<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body style="text-align: center;background-color: aqua; font-size: 200%;">
    <h1>Admin Page</h1>
    <p>number of users present upto now:</p>
    <table border="1" style="margin-left: auto;margin-right: auto;">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>